<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Login</title>
</head>
<body>
<div class="top">
    <img src="img/login.png">
    <br/>
    <form action="/j_security_check" method="post">
        <label>
            login <br/>
            <input type="text" name="j_username">
        </label>
        <br/>
        <label>
            password<br/>
            <input type="password" name="j_password">
        </label>
        <br/><br/>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>